---
const {title} = Astro.props;
---
<div class="h-[66px] p-5 grid grid-cols-4 gap-5 items-center justify-between border-b border-primary">
  <span class="mr-auto text-text-primary">
    <slot name="left" >
    </slot>
  </span>

  <span class="text-title col-span-2 text-center">{title}</span>

  <span class="ml-auto inline-grid place-items-center text-text-primary">
    <slot name="right">
    </slot>
  </span>
</div>
